.range-picker-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  flex-direction: row;
}

@media (max-width: 600px) {
  .range-picker-container {
    flex-direction: column;
    align-items: center;
  }
}


.ant-picker-dropdown {
  max-height: 300px !important;
  overflow-y: auto !important;
  border: 2px solid #c5c5c5 !important;
  border-radius: 8px !important;
}

.ant-picker-panel-container {
  max-width: 90vw !important;
  overflow-x: auto !important;
}

.ant-picker-input > input::placeholder {
  color: rgb(75, 75, 75) !important;
  opacity: 1 !important;
}

.custom-datepicker-popup {
  --arrow-x: 110.5px !important;
  inset: -302px auto auto 0px !important;
  box-sizing: border-box !important;
  min-width: 221px !important;
}
